<template name="Header">
  <div class="ui borderless inverted menu" style="border-radius: 0px">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>UH Manoa Club Hub</h1></a>
      <a class="item" href="{{pathFor 'Browse_Clubs'}}">Browse Clubs</a>
      <a class="item" href="{{pathFor 'Create_Club'}}">Create a Club</a>
      {{#if currentUser}}
      {{/if}}
      <a href="#" class="right aligned item">{{> loginButtons align="right"}} </a>
    </div>
  </div>
</template>